.trade-history-container { min-height: 520px; }
.trade-history-container .history-header { font-weight: bold; }
.trade-history-container .history-header span, .trade-history .trade span { display: inline-block; }
.trade-history-container .price { width: 13%; }
.trade-history-container .quantity { width: 25%; }
.trade-history-container .aggressor { width: 20%; text-align: center; }
.trade-history-container .time { width: 37%; }