.order-book-container { height: 265px; overflow: auto; margin-top: 20px; }
.order-book .order { border: 1px solid #37474F; display: inline-block; margin: 4px;   }
.order .id { background-color: #546E7A; font-weight: bold; color: white; text-align: center; }
.order .quantity > span { display: inline-block; border-bottom: 1px solid #37474F; padding: 0 5px; text-align: center; }
.order-book .quantity > span:first-child { border-right: 1px solid #37474F; }
.order .quantity-header, .order .remaining-header { font-weight: bold; }
.order .pricing { border-bottom: 1px solid #37474F; text-align: center; }
.order .pricing .price { font-weight: bold; }
.order .time { font-style: italic; text-align: center; }