.order-entry-form { margin: 10px 20px; }
.order-entry-form input.ng-invalid.ng-dirty { border: 1px solid red; }
.order-entry-form .btn-bid { float: right; margin-left: 10px; }
.order-entry-form .btn-ask { float: right; }
.order-entry-form .form-control { margin-right: 10px; }